@import url("reset.css");
 
 #container {
    width: 960px;
    margin: 0px auto;
    border: 1px solid #ccc;
 }
 
 table {
    border-collapse: collapse;
    width: 100%;
 }
 
 table caption {
    visibility: hidden;
    position: absolute;
    /* 자리 차지 안하고 공중에 떠버림.
   relative : 움직임. 자리영역은 그대로 유지 
   postion 영역을 안 주면 body를 기준으로 감.*/
 }
 
 th,
 tfoot td {
    background-color: #000;
    color: #ddd;
    padding: 5px;
 
    /* ///th : align : center로 기본값이 맞춰져 있음. 
 또 준다고 문제가 되지는 않음*/
    text-align: center;
 }
 
 tbody tr:nth-child(even){
   background-color: #ddd; 
   color: #000;  
 }
 
 tbody td{
   border-bottom:1px solid #ccc;   /* 아래만, 밑줄 주듯이 */
 }
 
 
 tbody tr td:nth-child(1),
 tbody tr td:nth-child(2),
 tbody tr td:nth-child(4),
 tbody tr td:nth-child(5),
 tbody tr td:nth-child(6),
 tbody tr td:nth-child(7){
   text-align: center;  
 }
 
 
 col:nth-child(1) {
    width: 5%;
 }
 
 col:nth-child(2) {
    width: 5%;
 }
 
 col:nth-child(3) {
    /* 제목 : 남는거 */
    width: auto;
 }
 
 col:nth-child(4),
 col:nth-child(5),
 /*조회수*/
 col:nth-child(6),
 col:nth-child(7) {
    width: 10%;
 }
 tfoot td:hover{
   background-color: #888;
}
 span#btnNext:hover{
   color:#00f;
   /* background-color: green; */
   cursor: pointer;
   width:100px;
 }
 span#btnDel:hover{
   color:#f00;
   /* background-color: green; */
   cursor: pointer;
   width:100px;
 }